.hint::after{
  content: attr(data-hint);
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  color: rgb(255,255,255);
  text-align: center;
  width: 0;
  transition: 0.5s;
  top: 0;
}
.hint:hover::after {
  top: 0;
  right: 0;
  text-indent: 0;
  width: calc(0.8*8ch);
  font-size: 0.8em;
  padding: 0.5em 0;
}
