<h1 class="border-bottom title">
  <span class="content-title">
    {{reportTitle}}
  </span>
</h1>
<section>
  <form class="border-bottom form-validate" novalidate name="form_venda">
    <fieldset>
      <label for="nome">Produto</label>
      <input type="text" class="search" ng-model="filter.produto" name="nome" id="nome"
      placeholder="Filtrar pelo produto" autofocus>

    </fieldset>
  </form>
</section>
<section>
  <table pdr-table proporcoes="2,4,1,1,1" class="content-table">
    <thead class="gradient" pdr-header titulos="{{tableTitles}}"></thead>
    <tbody pdr-body btn-edita="false" btn-deleta="false" data-service="{{service}}" no-select filter="filter"></tbody>
  </table>
</section>
