:root {
  --menu-before-size: 20px;
  --menu-line-height: 3em;
  --main-menu-text-size: 1.2em;
}

pdr-item a {
  text-decoration: none;
  color: var(--main-font-color);
  margin-left: 3ch;
  display: block;
  position: relative;
  width: calc(100% - 3ch);
  height: 100%;
}

pdr-item li {
  position: relative;
}

#menu-node>ul>pdr-item>li {
  line-height: var(--menu-line-height);
  font-size: var(--main-menu-text-size);
  text-shadow: 0.04em 0.04em rgb(0, 0, 0);
  background-color: rgba(137, 137, 137);
  border: 0.01em solid rgb(200, 200, 200);
}

.sub-menu {
  max-height: 300px;
  transition: max-height 1s;
  transform: scaleY(1);
  transition: 0.5s;
  display: block;
  position: relative;
  transform-origin: top;
}

.sub-menu li {
  font-size: 1em;
  padding-left: 2ch;

  display: inline-block;

  margin: auto;
  width: calc(100% - 2ch);
  background-color: rgba(140, 137, 145);

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.sub-menu li a {
  padding: 1em 0;
}

pdr-item li:hover {
  background-color: var(--light-menu-color)!important;
}

.sub-menu.collapsed {
  max-height: 0px!important;
  transition: max-height 1s;
  transform: scaleY(0);
  transition: 0.5s;
}

.main-items {
  position: relative;
  display: inline-block;
  width: 100%;
}

.main-items::before {
  content: '';
  position: absolute;
  width: var(--menu-before-size);
  height: var(--menu-before-size);
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 50%;
  top: calc(var(--menu-line-height)*0.5 - var(--menu-before-size)*0.5);
  left: calc((var(--menu-size)*0.8) - (4ch + var(--menu-before-size)));
  border: 0.2px solid rgb(255, 255, 255);
  box-shadow: 0 0 2px rgb(0,0,0);

  background-size: 20px 20px;
  background-image: url('/resource/img/down-arrow.png');

  transition: 1s;

  margin auto;
}

.rotate-item-open {}
.main-items.rotate-item-open::before {
  transform: rotate(180deg);
}
