<link rel="stylesheet" href="js/services/panels/confirm-cancel/confirm-cancel.css">
<h2>Você está prestes a excluir o seguinte</h2>
<h2 class="space-bottom">{{tipoItem}}:</h2>
<p ng-repeat="(key, value) in item" ng-show="key!='_id'">{{key}} - {{value}}</p>
<h2 class="space-top">Você tem certeza que deseja fazê-lo?</h2>
