<link rel="stylesheet" href="js/services/panels/common-panel/common-panel.css">
<div class="pdr-confirm-delete-background-panel">
  <div class="pdr-confirm-delete-message-box">
    <header class="pdr-confirm-delete-top-bar">
      <h3 class="pdr-confirm-delete-titulo">{{mensagem}}</h3>
      <a class="pdr-confirm-delete-close-button" ng-click="onCancel(0)">Fechar</a>
    </header>

    <main class="pdr-confirm-delete-main">
      #MARK
    </main>

    <nav class="pdr-confirm-delete-nav">
      <button type="button" name="Confirmar" ng-click="onConfirm()">Confirmar</button>
      <button type="button" name="Cancelar" ng-click="onCancel(1)">Cancelar</button>
    </nav>
  </div>
</div>
