<link rel="stylesheet" href="js/services/panels/data-search/data-search.css">
<!-- <pdr-table class="inline-table" proporcoes="2,1,1" titulos="Produto,Custo,Valor"
btn-edita="false" btn-deleta="false" service="Produtos">
</pdr-table> -->
<table pdr-table proporcoes="2,1,1" class="content-table inline-table">
  <thead class="gradient" pdr-header titulos="Produto,Custo,Valor"></thead>
  <tbody pdr-body data-service="Produtos" single-select></tbody>
</table>
