<pdr-menu id="menu-node">
  <pdr-item title="Produtos" path="produtos"></pdr-item>
  <pdr-item id="estoque" title="Estoque" path="#">
      <pdr-item title="Lançamentos" path="estoque"></pdr-item>
      <pdr-item path="itens-estoque" title="Itens"></pdr-item>
  </pdr-item>

  <pdr-item id="vendas" title="Vendas" path="#">
      <pdr-item title="Lançamentos" path="vendas"></pdr-item>
      <pdr-item title="Relatórios" path="vendas/relatorio/RelatorioVenda"></pdr-item>
  </pdr-item>

  <pdr-item id="desperdicio" title="Desperdício" path="#">
        <pdr-item title="Lançamentos" path="desperdicio"></pdr-item>
        <pdr-item title="Relatório Quantidade" path="desperdicio/relatorio/RelatorioDesperdiciosQuantidade"></pdr-item>
        <pdr-item title="Relatório Taxa" path="#"></pdr-item>
  </pdr-item>
</pdr-menu>
